body {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    background: radial-gradient(#3d3d3d, #000000);
}

a {
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .container { 
    height:100vh; 
    display: grid; 
    grid-template-rows: 100px 80px 40px 250px 140px 250px 20px 100px 50px 150px 30px; 
    grid-template-columns: 5% 15% 25% 10% 25% 15% 5%; 

    }

    header { 
      grid-column: 1/7;     /*wo es links anfängt und rechts aufhört*/
      grid-row: 1/2;        /*wo es oben anfängt und unten aufhört*/
    } 


    serie {
      grid-column: 3/6;   /*wo es links anfängt und rechts aufhört*/
      grid-row: 2/3;      /*wo es oben anfängt und unten aufhört*/
    }

    defekt {
      grid-column: 5/6;   /*wo es links anfängt und rechts aufhört*/
      grid-row: 2/4;      /*wo es oben anfängt und unten aufhört*/
    }

    name {
      grid-column: 3/4;   /*wo es links anfängt und rechts aufhört*/
      grid-row: 3/4;      /*wo es oben anfängt und unten aufhört*/
    }

    infos {
      grid-column: 2/3;   /*wo es links anfängt und rechts aufhört*/
      grid-row: 4/7;      /*wo es oben anfängt und unten aufhört*/
    }

    anime {
      grid-column: 3/6;   /*wo es links anfängt und rechts aufhört*/
      grid-row: 4/7;      /*wo es oben anfängt und unten aufhört*/
    }

    sprache {
      grid-column: 6/7;   /*wo es links anfängt und rechts aufhört*/
      grid-row: 5/6;      /*wo es oben anfängt und unten aufhört*/
    }

    untertitel {
      grid-column: 3/6;   /*wo es links anfängt und rechts aufhört*/
      grid-row: 7/8;      /*wo es oben anfängt und unten aufhört*/
    }

    vorherige {
      grid-column: 2/3;   /*wo es links anfängt und rechts aufhört*/
      grid-row: 8/9;      /*wo es oben anfängt und unten aufhört*/
    }

    verfuegbarkeit {
      grid-column: 4/5;   /*wo es links anfängt und rechts aufhört*/
      grid-row: 8/9;      /*wo es oben anfängt und unten aufhört*/
    }

    naechste {
      grid-column: 6/7;   /*wo es links anfängt und rechts aufhört*/
      grid-row: 8/9;      /*wo es oben anfängt und unten aufhört*/
    }

    footer1 {
      grid-column: 3/6;   /*wo es links anfängt und rechts aufhört*/
      grid-row: 10/11;      /*wo es oben anfängt und unten aufhört*/
      }
    copy { 
      grid-column: 1/9;   /*wo es links anfängt und rechts aufhört*/
      grid-row: 11/12;      /*wo es oben anfängt und unten aufhört*/
      
      }




.name h2 {
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 1px 1px #ff0000;
}

.name h5 {
  color: #bbb;
  opacity: 70%;
  margin: 0;
  padding-left: 5%;
}


.iFrame {
  display: block;
  border-radius: 10px/10px;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 3px #ffffff;
}

.sprache img {
  width: 25%;
  height: 25%;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #ff0000;
  margin-top: 8%;
  opacity: 80%;
}


.untertitel-infos h5 {
  margin: 0;
  margin-top: 1%;
  margin-left: 3%;
}

.untertitel-infos-farbe {
  color: #ff0000;
}

.untertitel-infos-farbe-link {
  color: #00c03a;
  text-decoration: underline;
}

.untertitel-infos-farbe-link:hover {
  color: aqua;
}

.vorherige h5, .naechste h5 {
  color: #dfdfdf;
  text-align: center;
  background-color: rgba(145, 0, 0, 0.5);
  border-radius: 5px/5px;
}

.streaming-logos img {
  width: 40px;
  height: 40px;
  border-radius: 10px/10px;
  margin-top: 20px;
  margin-left: 10px;
}

.streaming-logos {
  text-align: center;
  opacity: 90%;
}


/*Ab hier nur die Buttons*/
.einfacher-button {
  min-width: 100;
  margin: auto;
  display: flex;                          /*Das der ganze Verfügbare Platz genutz wird*/
  justify-content: space-between;             /*Die Anordnung*/
  align-items: center;
}

.button {
  font-size: 0.8rem;                    /*Die Schriftgröße auf dem Button (1rem ist die Standart Schriftgröße)*/
  font-weight: bold;                  /*Damit die Schrift Fetter wird*/
  padding: 1em 2em;                   /*Mit Padding wir der Button automatisch an den Inhalt angepasst (1em ist der Vertikale wert 2em der Horizontale)*/
  cursor: pointer;
}

.einfacher-button {
  background-color: rgba(145, 0, 0, 0.5);       /*Button Farbe*/
  color: #ffffff;                   /*Schrift Farbe*/
  border: none;                       /*Damit der Button keinen eigenen ramen hat*/
  border-radius: 0.5em;               /*Abrundung des Buttons in em angegeben das es sich auch an die Text größe anpasst*/
}

.einfacher-button:hover {
  background-color: rgba(145, 0, 0, 0.2);       /*Das sich bei darüberfahren die Hintergrundfarbe Ändert*/
}

.logo-button {
  background-color: rgba(0, 0, 0, 0);         	/*Button Farbe in dem Fall soll er Unsichtbar sein*/
  border: none;
  padding: 0;
}

.defekt-button {
  background-color: rgba(247, 32, 25, 0.7);
  border-radius: 0.5em;               /*Abrundung des Buttons in em angegeben das es sich auch an die Text größe anpasst*/
  border: none;                       /*Damit der Button keinen eigenen ramen hat*/
  margin-top: 20%;
  margin-left: 70%;
}

.defekt-button a {
  color: #ffffff;                   /*Schrift Farbe*/
}

.defekt-button:hover {
  background-color: rgba(247, 32, 25, 0.4);
}


/*Ab hier nur der Footer*/

.tabelle {
    display: flex;
    justify-content: space-around;
    color: #ffffff;
  }
.tabelle a {
    text-decoration: none;
    color: #bbb;
  }

.link-hover {
  padding: 5px;
}

.ueber-uns {
  margin-bottom: 20%;
}

.copy p {
    color: #ffffff;
    margin-top: 0;
  }

.icon img {
  width: 25px;
  height: auto;
  margin-top: 5%;
}

.icon :hover{
  opacity: 70%;
}

.link-hover :hover {
  opacity: 70%;
}

/*Ab hier nur die Infotabelle*/


.infos {
  margin-left: 0px;
  width: 75%;
  background:#1a040483;
  box-shadow: 1px 1px 5px #ffffff;
  text-align: left;
  border-radius: 10px;
  margin-top: 75%;
}

.data h3, h4, h5 {
  color: #ffffff;
  margin: 0;
}

.data h3, h4 {
  text-decoration: underline;
  opacity: 90%;
}

.data h5 {
  margin-top: 5px;
  opacity: 70%;
}

.quali {
  color: #00c03a;
}

.quali-a {
  text-decoration: underline;
  color: #00c03a;
}

.quali-a:hover {
  color: aqua;
}


.lang {
  color: aqua;
  font-weight: 800;
}



/*Ab hier nur die Dialoge*/

#body-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in-out;
}

.dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);           /*Vertikale und Horizontale Werte*/
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 8px;
  box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in-out;
}

#body-overlay.sichtbar, .dialog.sichtbar {
  opacity: 1;
  pointer-events: auto;
}

#quali-dialog {
  width: 25%;
}

.X {
  width: 15px;
  height: 15px;
  opacity: 70%;
}

.dialog-schließen-button {
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: 15px;
  text-decoration: none;
}

.tabelle-quali {
  border: 2px solid #505050;
  border-collapse: collapse;
}

#quali-dialog {
  background: radial-gradient(#3d3d3d, #000000);
  box-shadow: inset 0px 0px 10px black, 2px 2px 4px rgba(255, 255, 255, 0.1), 8px 8px 16px rgba(255, 255, 255, 0.1);
  border: 5px solid rgba(145, 0, 0, 0.5);
}

#quali-dialog h2 {
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

#quali-dialog p {
  color: #bbb;
}

.quali-dialog-bitrate-info {
  color: #ff0000;
  text-decoration: none;
  padding: 5px;
}

.tabelle-quali {
  color: #bbb;
}

.nr-1 {
  color: #ff0000;
}

.nr-2 {
  color: #ff9900;
}

.nr-3 {
  color: #e5ff00;
}

.nr-4 {
  color: #00ff4c;
}

.nr-5 {
  color: #6701db;
}
}

@media (min-width: 1600px) {
  .container { 
    height:100vh; 
    display: grid; 
    grid-template-rows: 100px 80px 20px 250px 140px 250px 40px 100px 50px 150px 30px; 
    grid-template-columns: 10% 10% 25% 10% 25% 10% 10%; 

    }

    header { 
      grid-column: 1/7;     /*wo es links anfängt und rechts aufhört*/
      grid-row: 1/2;        /*wo es oben anfängt und unten aufhört*/
    } 


    serie {
      grid-column: 3/6;   /*wo es links anfängt und rechts aufhört*/
      grid-row: 2/3;      /*wo es oben anfängt und unten aufhört*/
    }

    defekt {
      grid-column: 5/6;   /*wo es links anfängt und rechts aufhört*/
      grid-row: 2/3;      /*wo es oben anfängt und unten aufhört*/
    }

    name {
      grid-column: 3/4;   /*wo es links anfängt und rechts aufhört*/
      grid-row: 3/4;      /*wo es oben anfängt und unten aufhört*/
    }

    infos {
      grid-column: 2/3;   /*wo es links anfängt und rechts aufhört*/
      grid-row: 4/7;      /*wo es oben anfängt und unten aufhört*/
    }

    anime {
      grid-column: 3/6;   /*wo es links anfängt und rechts aufhört*/
      grid-row: 4/7;      /*wo es oben anfängt und unten aufhört*/
    }

    sprache {
      grid-column: 6/7;   /*wo es links anfängt und rechts aufhört*/
      grid-row: 5/6;      /*wo es oben anfängt und unten aufhört*/
    }

    untertitel {
      grid-column: 3/6;   /*wo es links anfängt und rechts aufhört*/
      grid-row: 7/8;      /*wo es oben anfängt und unten aufhört*/
    }

    vorherige {
      grid-column: 2/3;   /*wo es links anfängt und rechts aufhört*/
      grid-row: 8/9;      /*wo es oben anfängt und unten aufhört*/
    }

    verfuegbarkeit {
      grid-column: 4/5;   /*wo es links anfängt und rechts aufhört*/
      grid-row: 8/9;      /*wo es oben anfängt und unten aufhört*/
    }

    naechste {
      grid-column: 6/7;   /*wo es links anfängt und rechts aufhört*/
      grid-row: 8/9;      /*wo es oben anfängt und unten aufhört*/
    }

    footer1 {
      grid-column: 3/6;   /*wo es links anfängt und rechts aufhört*/
      grid-row: 10/11;      /*wo es oben anfängt und unten aufhört*/
      }
    copy { 
      grid-column: 1/9;   /*wo es links anfängt und rechts aufhört*/
      grid-row: 11/12;      /*wo es oben anfängt und unten aufhört*/
      
      }




.name h2 {
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 1px 1px #ff0000;
}

.name h5 {
  color: #bbb;
  opacity: 70%;
  margin: 0;
  padding-left: 5%;
}


.iFrame {
  display: block;
  border-radius: 10px/10px;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 3px #ffffff;
}

.sprache img {
  width: 25%;
  height: 25%;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #ff0000;
  margin-top: 8%;
  opacity: 80%;
}


.untertitel-infos h5 {
  margin: 0;
  margin-top: 1%;
  margin-left: 3%;
}

.untertitel-infos-farbe {
  color: #ff0000;
}

.untertitel-infos-farbe-link {
  color: #00c03a;
  text-decoration: underline;
}

.untertitel-infos-farbe-link:hover {
  color: aqua;
}

.vorherige h5, .naechste h5 {
  color: #dfdfdf;
  text-align: center;
  background-color: rgba(145, 0, 0, 0.5);
  border-radius: 5px/5px;
}

.streaming-logos img {
  width: 40px;
  height: 40px;
  border-radius: 10px/10px;
  margin-top: 20px;
  margin-left: 10px;
}

.streaming-logos {
  text-align: center;
  opacity: 90%;
}


/*Ab hier nur die Buttons*/
.einfacher-button {
  min-width: 100;
  margin: auto;
  display: flex;                          /*Das der ganze Verfügbare Platz genutz wird*/
  justify-content: space-between;             /*Die Anordnung*/
  align-items: center;
}

.button {
  font-size: 0.8rem;                    /*Die Schriftgröße auf dem Button (1rem ist die Standart Schriftgröße)*/
  font-weight: bold;                  /*Damit die Schrift Fetter wird*/
  padding: 1em 2em;                   /*Mit Padding wir der Button automatisch an den Inhalt angepasst (1em ist der Vertikale wert 2em der Horizontale)*/
  cursor: pointer;
}

.einfacher-button {
  background-color: rgba(145, 0, 0, 0.5);       /*Button Farbe*/
  color: #ffffff;                   /*Schrift Farbe*/
  border: none;                       /*Damit der Button keinen eigenen ramen hat*/
  border-radius: 0.5em;               /*Abrundung des Buttons in em angegeben das es sich auch an die Text größe anpasst*/
}

.einfacher-button:hover {
  background-color: rgba(145, 0, 0, 0.2);       /*Das sich bei darüberfahren die Hintergrundfarbe Ändert*/
}

.logo-button {
  background-color: rgba(0, 0, 0, 0);         	/*Button Farbe in dem Fall soll er Unsichtbar sein*/
  border: none;
  padding: 0;
}

.defekt-button {
  background-color: rgba(247, 32, 25, 0.7);
  border-radius: 0.5em;               /*Abrundung des Buttons in em angegeben das es sich auch an die Text größe anpasst*/
  border: none;                       /*Damit der Button keinen eigenen ramen hat*/
  margin-top: 10%;
  margin-left: 70%;
}

.defekt-button a {
  color: #ffffff;                   /*Schrift Farbe*/
}

.defekt-button:hover {
  background-color: rgba(247, 32, 25, 0.4);
}


/*Ab hier nur der Footer*/

.tabelle {
    display: flex;
    justify-content: space-around;
    color: #ffffff;
  }
.tabelle a {
    text-decoration: none;
    color: #bbb;
  }

.link-hover {
  padding: 5px;
}

.ueber-uns {
  margin-bottom: 20%;
}

.copy p {
    color: #ffffff;
    margin-top: 0;
  }

.icon img {
  width: 25px;
  height: auto;
  margin-top: 5%;
}

.icon :hover{
  opacity: 70%;
}

.link-hover :hover {
  opacity: 70%;
}

/*Ab hier nur die Infotabelle*/


.infos {
  margin-left: 0px;
  width: 70%;
  background:#1a040483;
  box-shadow: 1px 1px 5px #ffffff;
  text-align: left;
  border-radius: 10px;
  margin-top: 70%;
}

.data h3, h4, h5 {
  color: #ffffff;
  margin: 0;
}

.data h3, h4 {
  text-decoration: underline;
  opacity: 90%;
}

.data h5 {
  margin-top: 5px;
  opacity: 70%;
}

.quali {
  color: #00c03a;
}

.quali-a {
  text-decoration: underline;
  color: #00c03a;
}

.quali-a:hover {
  color: aqua;
}


.lang {
  color: aqua;
  font-weight: 800;
}



/*Ab hier nur die Dialoge*/

#body-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in-out;
}

.dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);           /*Vertikale und Horizontale Werte*/
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 8px;
  box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in-out;
}

#body-overlay.sichtbar, .dialog.sichtbar {
  opacity: 1;
  pointer-events: auto;
}

#quali-dialog {
  width: 25%;
}

.X {
  width: 15px;
  height: 15px;
  opacity: 70%;
}

.dialog-schließen-button {
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: 15px;
  text-decoration: none;
}

.tabelle-quali {
  border: 2px solid #505050;
  border-collapse: collapse;
}

#quali-dialog {
  background: radial-gradient(#3d3d3d, #000000);
  box-shadow: inset 0px 0px 10px black, 2px 2px 4px rgba(255, 255, 255, 0.1), 8px 8px 16px rgba(255, 255, 255, 0.1);
  border: 5px solid rgba(145, 0, 0, 0.5);
}

#quali-dialog h2 {
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

#quali-dialog p {
  color: #bbb;
}

.quali-dialog-bitrate-info {
  color: #ff0000;
  text-decoration: none;
  padding: 5px;
}

.tabelle-quali {
  color: #bbb;
}

.nr-1 {
  color: #ff0000;
}

.nr-2 {
  color: #ff9900;
}

.nr-3 {
  color: #e5ff00;
}

.nr-4 {
  color: #00ff4c;
}

.nr-5 {
  color: #6701db;
}

}
