body {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    background: radial-gradient(#3d3d3d, #000000);
}

a:link, a:visited {
    text-decoration: none;                     /*Bewirkt das Links nicht unterstrichen sind*/
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 150px 150px 480px 70px 600px 150px 30px;
    grid-template-columns: 10% 25% 55% 10%;
}
header {
    grid-column-start:1;
    grid-column-end:4; 
    grid-row-start:1; 
    grid-row-end:2; 
}

Anime {
    grid-column-start:2;
    grid-column-end:4; 
    grid-row-start:2; 
    grid-row-end:3;  
}

Bild-Infos {
    grid-column-start:2; 
    grid-column-end:3; 
    grid-row-start:3; 
    grid-row-end:6; 
}

Was-Passiert {
    grid-column-start:3; 
    grid-column-end:4; 
    grid-row-start:3; 
    grid-row-end:4; 
}

Staffeln {
    grid-column-start:3; 
    grid-column-end:4; 
    grid-row-start:4; 
    grid-row-end:5; 
}

Staffel1 {
    grid-column-start:3; 
    grid-column-end:4; 
    grid-row-start:5; 
    grid-row-end:6; 
}

footer1 {
    grid-column-start:2; 
    grid-column-end:4; 
    grid-row-start:6; 
    grid-row-end:7; 
}
copy { 
    grid-column-start:1; 
    grid-column-end:5; 
    grid-row-start:7; 
    grid-row-end:8; 
}

.Bild img {
    width: 350px;
    height: 483px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.Infos {
    margin-left: 50px;
    width: 40%;
    background:#330909;
    box-shadow: 1px 1px 5px #5c0000;
    text-align: left;
    border-radius: 10px;

}


.Ueberschrift {
    color: #ffffff;
    text-align: center;
    background-color: #6e6e6e;
    width: 100%;
    height: 80px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #faed27;
}

.Data h2, h5 {
    color: #ffffff;
    margin: 0;
}

.Data h2 {
    text-shadow: 3px 1px 10px #6e6e6e;
    margin-top: 5px;
}

.Data h5 {
    margin-top: 5px;
    opacity: 85%;
}

.Infos a {
    text-decoration: none;
    color: #ffffff;
    opacity: 85%;
    margin-right: 5px;
}

.Genres h2 {
    margin-bottom: 5px;
}

.Genres h5 {
    margin-top: 0;
}

.Was-Passiert {
    color: #c7c5c5;
    text-align: center;
    background: linear-gradient(#636363, #2b2b2b);
    width: 100%;
    height: 390px;
    border-radius: 25px;
}


.Staffel1 {
    color: #ffffff;
}

.Staffel1-Tabelle {
    width: 100%;
    background: linear-gradient(#2b2a2a, #000000);
    box-shadow: 1px 1px 5px #5c0000;
    text-align: left;
}

.Staffel1 a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 20px;
}

.Folge {
    margin-top: 30px;
}

.Staffel1-Tabelle img {
    width: 25px;
    height: 15px;
}

.copy p {
    color: #ffffff;
    margin-top: 0;
}

.tabelle {
    display: flex;
    justify-content: space-around;
    color: #ffffff;
}

.tabelle a {
    text-decoration: none;
    color: #bbb;
}




/*Die Staffel Buttens*/


html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}